/* section */
.best-sellers .container {
  padding: 32px 16px;
}

/* trending */
.trending {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .trending {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
  .best-sellers .container {
    padding: 16px 0;
  }
}
