:root {
  /* colors */
  --red: #e41616;
  --gray: #535353;
  --light-gray: #9d9d9d;
  --max-light-gray: #dcdcdc;
  --black: #000000;
  --hover-black: #292929;
  --white: #ffffff;
  /* settings */
  --container: 1680px;
  --padding: 16px;
  --trans: 0.4s ease;
  --trans-op: 0.9s ease;
  /* fonts */
  --main-font: "Inter", system-ui;
  font: 400 1rem/1.5 var(--main-font);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:active,
:focus {
  outline-color: var(--light-gray);
}

html,
body {
  min-width: 320px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  color: var(--black);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: inherit;
}

.container {
  margin: 0 auto;
  width: calc(100% - (var(--padding) * 2));
  max-width: var(--container);
}

@media (max-width: 768px) {
  :root {
    --padding: 8px;
  }
}
