.trending__nav {
  width: 100%;
  max-width: 816px;
  padding: 0 64px;
}

.trending__title {
  color: var(--gray);
}

.trending__heading {
  color: var(--black);
}

.trending__heading:not(:first-child) {
  margin-top: 16px;
}

.trending__list {
  display: flex;
  flex-direction: column;
  color: var(--gray);
}

.trending__list:not(:first-child) {
  margin-top: 64px;
}

.trending__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  color: var(--light-gray);
  background: var(--white);
  border-bottom: 1px solid var(--max-light-gray);
  cursor: pointer;
  transition: color var(--trans), border-bottom-color var(--trans);
}

.trending__item:hover {
  color: var(--black);
  border-bottom-color: var(--hover-black);
}

.trending__item--active {
  color: var(--black);
  border-bottom-color: var(--hover-black);
  transition: color var(--trans), border-bottom-color var(--trans);
}

@media (max-width: 768px) {
  .trending__nav {
    padding: 0;
  }
  .trending__list:not(:first-child) {
    margin-top: 24px;
  }
}

@media (max-width: 1200px) {
  .trending__nav {
    padding: 16px;
  }
  .trending__list:not(:first-child) {
    margin-top: 24px;
  }
}
