.trending__card {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  /* padding: 16px; */
}

.trending__card-badges {
  position: absolute;
  z-index: 15;
  top: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.trending__card-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 34px;
  padding: 8px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.29;
  text-align: center;
  color: var(--black);
  background: var(--white);
  border: 1px solid var(--max-light-gray);
  border-radius: 8px;
}

.trending__card-badge--sale {
  background: var(--red);
  color: var(--white);
  border-color: var(--red);
}

.trending__card-buttons {
  position: absolute;
  z-index: 15;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.trending__card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  max-width: 48px;
  aspect-ratio: 1 / 1;
  color: var(--black);
  background: var(--white);
  border: 1px solid var(--max-light-gray);
  border-radius: 12px;
}

@media (max-width: 768px) {
  .trending__card-buttons {
    top: 8px;
    right: 8px;
  }
  .trending__card-button {
    max-width: 40px;
  }
  .trending__card-badges {
    left: 8px;
    top: 8px;
  }
}
