.trending__card-prices {
  position: absolute;
  inset: auto 16px 16px 16px;
  z-index: 15;
  bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 32px);
  max-width: 784px;
  height: 72px;
  padding: 0 32px;
  background: var(--white);
  border-radius: 16px;
}

.trending__card-title {
  font-weight: 500;
  color: var(--black);
  border-bottom: 1px solid transparent;
  transition: border-color var(--trans-op);
}

.trending__card-title:hover {
  border-bottom-color: var(--hover-black);
}

.trending__card-price {
  font-weight: 500;
  color: var(--red);
}

.trending__card-price del {
  color: var(--light-gray);
}
