/* Trending Products */

.title {
  font-style: normal;
  font-weight: 500;
  line-height: 1.21;
  color: inherit;
}
.title--h2 {
  font-size: 2.375rem;
}
.title--h3 {
  font-size: 1.75rem;
}

@media (max-width: 992px) {
  .title--h2 {
    font-size: 1.75rem;
  }
  .title--h3 {
    font-size: 1.375rem;
  }
}
